{% include base_path %}


<div itemscope itemtype="http://schema.org/Person" class="team__container">

  <div class="team__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ post.avatar }}" alt="{{ post.name }}">
    {% else %}
    	<img src="{{ post.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ post.name }}">
    {% endif %}
  </div>

  <div class="team__content">
    <h3 class="team__name">{{ post.name }}</h3>
    {% if post.bio %}<p class="team__bio">{{ post.bio }}</p>{% endif %}
  </div>
</div>
