/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  background-color: #29292a;
  width: 100%;
  border-bottom: 1px solid #29292a;
//  height: 100px;
  //border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 30;

  //&--home {
  //    position: fixed;
  //}

  &__inner-wrap {
    //@include container;
    //max-width: 1000px;
    @include clearfix;
    padding: 0;
    height: 100px;
    //padding: 1em 1em 1em;
    //font-family: $sans-serif-global;
    font-family: $global-font-family;
    //transform: translate(0,-50%);
    //top: 50%;


    //position: relative;
    @include breakpoint($x-large) {
      //max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {
    transform: translate(0,-50%);
    top: 50%;
    position: relative;

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

.masthead .social-icons {
    transform: translate(0,-50%);
    top: 50%;
    a {
        margin: 0;
    }
    img {
        height: 30px;
    }
}
@include breakpoint(max-width $medium) {
.masthead .social-icons {
    visibility: hidden;
    display: none;
}
}
