    .bio-container {

        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        flex-flow: wrap;
        padding-bottom: 40px;
        gap: 20px;
    }
    .bio-item1 {
        text-align: left;
        flex: 0 1 400px;

    }
.bio-item2 { 
        text-align: left;
        flex: 1 0 40%;


    }

.research_ns {
  @import "../JS-Bioelastic_state_recovery/style";
}


/*
.card-container {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        flex-flow: wrap;
        padding-bottom: 40px;
        gap: 20px;
}

.bylines {
        text-align: left;
        flex: 0 1 400px;
        width: fit-content;
}
*/
