---
layout: compress
---

{% include base_path %}


<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    <div class="hero_p1">
    {% include masthead.html %}

    {% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
      {% include page__hero.html %}
    {% endif %}

    {% if page.url != "/" and site.breadcrumbs %}
      {% unless paginator %}
        {% include breadcrumbs.html %}
      {% endunless %}
    {% endif %}
    </div>
    
    <div class="hero_p2">
    <div class="array" style="background-color: #0E1B1A; background-image: url('{{ "/images/IMG_0095_web2.jpg" | prepend: base_path }}'); " >
        <div id="main" role="main" class="main--home" >

      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.otitle %}<meta itemprop="headline" content="{{ page.otitle | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
        {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

        <div class="page__inner-wrap">
              {% if page.otitle %}<h1 class="page__title" itemprop="headline">{{ page.otitle | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
        

          <section class="page__content" itemprop="text">
            {{ content }}
            {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
          </section>


        </div>

      </article>

    </div>
    </div>

        {% include footer/custom.html %}
        {% include footer.html %}
    </div>
    {% include scripts.html %}

  </body>
</html>

