---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">

      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | upcase | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
        </header>
      {% endunless %}

    <h2>Principal investigator</h2>
        {% include pi_card.html %}
    <h2>Graduate students</h2>
    <div class="team__container__container">
    {% for post in site.grad_students %}
      {% include people_card.html %}
    {% endfor %}
  </div>
  </div>
</div>
